[irc]
server = irc.quakenet.org
port = 6667

[bot]
nickname = cbot
username = cbot_user
hostname = cbot_host
servername = cbot_servername
realname = CBot Real Name

[ctcp]
version = plain C irc bot: https://github.com/tfc/ircbot

[autojoin]
channels = #c
